/WebApplication1_01/nbproject/private/
/WebApplication1_01/build/
/WebApplication1/nbproject/private/
/WebApplication_03_a/nbproject/private/
/WebApplication_03_a/build/
/WebApplication_03_b/nbproject/private/
/WebApplication_03_b/build/
/WebApplication-03-c/nbproject/private/
/WebApplication-03-c/build/
/WebApplication-03-d/nbproject/private/
/WebApplication-03-d/build/
/WebApplication-03-test/nbproject/private/
/WebApplication-03-test/build/
/WebApplication04_a/nbproject/private/
/WebApplication04_a/build/
/WebApplication04_b/nbproject/private/
/WebApplication04_b/build/
/WebApplication04_c/nbproject/private/
/WebApplication04_c/build/
/WebApplication_05_a/nbproject/private/
/WebApplication_05_a/build/
/WebApplication_05_testtuhoc/nbproject/private/
/WebApplication_05_testtuhoc/build/
/test_2/nbproject/private/
/WebApplication_06_a/nbproject/private/
/WebApplication_06_a/build/
/WebApplication_07_JSP_a/nbproject/private/
/WebApplication_07_JSP_a/build/
/WebApplication_JSP_07_b/nbproject/private/
/WebApplication_JSP_07_b/build/
/WebApplication_07_JSP_c/nbproject/private/
/WebApplication_07_JSP_c/build/
/WebApplication_08_a/nbproject/private/
/WebApplication_08_a/build/
/WebApplication_09_a/nbproject/private/
/WebApplication_10_a/nbproject/private/
/WebApplication_10_a/build/
/WebApplication_test_01/nbproject/private/
/WebApplication_test_01/build/
/WebApplication_11_a/nbproject/private/
/WebApplication_11_a/build/
/WebApplication2_assprj_01/nbproject/private/
/WebApplication2_assprj_01/build/
/WebApplication_testdedithi_01/nbproject/private/
/WebApplication_12_a_01/nbproject/private/
/WebApplication_12_a_01/build/
/tmk_assprj123/build/
/tmk_assprj123/dist/
/tmk_assprj123/nbproject/private/
/WebApplication_13_a/nbproject/private/
/WebApplication_13_a/build/
/TMK_Worshop1/nbproject/private/
/TMK_Worshop1/build/
/TMK_Worshop1/dist/
/TMK_Workshop1/nbproject/private/
/WebApplication_14_a_1/nbproject/private/
/WebApplication_14_a_1/build/
/WebApplication_14_a_1/dist/